.default{
    text-align: center;
    color: white;
    font-size: larger;
}

.title{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.keep-space{
    white-space: pre;
}